.login__button{
    border: none;
    padding: 0;
    width: 358px;
    height: 50px;
    background:#FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 180px;
    margin-bottom: 37px;
}

.login__button:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .login__button{
        width: 238px;
        height: 46px;
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
    }
}