.popup__button-close{
    padding: 0;
    width: 32px;
    background: url(../../../images/close-icon.svg);
    height: 32px;
    border: none;
    position: absolute;
    top: -12%;
    right: -8%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.popup__button-close:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .popup__button-close{
        width: 20px;
        height: 20px;
        right: 0;
    }
}
