.popup__input{
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 0;
    width: 358px;
    margin-top: 40px;
}

@media screen and (max-width: 500px){
    .popup__input{
        width: 238px;
        margin-top: 38px;
    }
}