.header{
    margin-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-bottom: 41px;
    background-color: black;
    background-size: 100%;
}

@media screen and (max-width: 900px){
    .header{
        margin: 28px 0;
        padding-bottom: 31px;
        max-width: 900px;
    }
}