.popup{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}